
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>AboutUs</h2>


<img src="~/Images/VA 2.jpg" />

<div style="font-family:Arial">
    <h1>Welcome to St. Michaels Catholic High School</h1>
</div>
<img src="~/Images/Catholic 1.jpg" />
<div style="font-family:Arial">
    <h1>We pride Ourseleves in sports.</h1>
</div>
<div style="font-family:Arial">

</div>
