
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Home</h2>

<div style="font-family:Arial">
    <h1>Welcome to St. Michaels Catholic High School</h1>
</div>
<img src="~/Images/Catholic 1.jpg" />
<div style="font-family:Arial">
    <h1>We pride Ourseleves in sports.</h1>
</div>
